<%cont = 0%>
<% current_user.pedidos.reverse.each do |pedido| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
          <div class="col-md-6">
            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#<%= pedido.id %>" >
              <h5>Pedido <%= current_user.pedidos.count - cont %> </h5>
            </a>
            <%cont+=1%>
          </div>
          <div class="col-md-6">
            <h4>
              <strong>
                Endereco de entrega:
              </strong>
            </h4>
            <h6>
              <strong style="color: black;font-family: monospace;">
              Rua  <%="#{pedido.endereco.rua}, #{pedido.endereco.numero}, #{pedido.endereco.bairro}, #{Municipio.find(pedido.endereco.municipio_id)}-#{UnidadeFederativa.find(pedido.endereco.unidade_federativa_id).retorna_sigla} #{pedido.endereco.complemento}" %>
              </strong>
            </h6>
          </div>
      </div>
    </div>

    <div class="collapse" id="<%= pedido.id %>">
      <div class="well">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Descricão</th>
              <th>Valor Unitário</th>
              <th>Quantidade</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% pedido.itens_pedido.each do |item_pedido| %>
              <tr>
                <td><%= image_tag(item_pedido.produto.imagem.url(:thumb))%></td>
                <td><%= item_pedido.produto.descricao %></td>
                <td><%= number_to_currency item_pedido.valor_unitario %></td>
                <td><%= item_pedido.quantidade %></td>
                <td><%= number_to_currency item_pedido.valor_total%></td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <div align="right" style="margin-right: 1%">
          <h3 style="display: inline-block" ><label class="label label-default">Total: <%= number_to_currency pedido.valor_total %></label></h3>
        </div>
      </div>
    </div>
  </div>
<%end%>
