<%- model_class = Categoria -%>

<% Produto.all.each do |produto| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#<%= produto.id %>" >
        <h5>Produto <%= produto.id %> </h5>
      </a>
    </div>
    <div class="panel-body">
      <div class="collapse" id="<%= produto.id %>">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <div class="row">
                  <div class="col-md-2">
                    Imagem
                  </div>
                  <div class="col-md-10" align="">
                    <%= link_to 'Nova Imagem',  edit_produto_path(produto), class:'btn btn-info'%>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <% produto.imagens.each do |imagem| %>
              <tr>
                <td><%= image_tag imagem.imagem.url(:thumb) %></td>
                <td>
                  <%= link_to 'Editar', edit_imagem_path(imagem), class: 'btn btn-default btn-xs' %>
                  <%= link_to 'Excluir', imagem_path(imagem), method: 'delete', class: 'btn btn-danger btn-xs' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
