<%= simple_form_for @produto do |f| %>

  <%= f.input :descricao %>
  <%= f.input :preco, input_html: {min:'0'} %>
  <%= f.input :quantidade, input_html: {min:'0'} %>
  <%= f.association :categoria%>
  <%= f.association :marca %>

<fieldset>
  <div class="well well-sm tab-below">
      <legend><h3>Imagens</h3></legend>
      <div>
        <% f.simple_fields_for :imagens do |imagem| %>
          <%= render partial: 'imagem_fields', locals: {f: imagem} %>
        <% end %>
        <div class="">
            <%= link_to_add_association f, :imagens, class: 'btn btn-default' do %>
              <i class="fa fa-plus"> <b> Adicionar Imagem </b> </i>
            <% end %>
        </div>
     </div>
  </div>
</fieldset>

  <%= save_button %>
  <%= link_icon_to_back(produtos_path) %>
<% end %>
