<%- model_class = Produto -%>

<div class="row">
  <div class="col-md-6">
    <h3><%= action_list(Produto) %></h3><hr>
  </div>
  <div class="col-md-6" align="right">
    <h3>
      <%= link_to action_new(Produto), new_produto_path, class: 'btn btn-info'%>
    </h3>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:descricao) %></th>
      <th><%= model_class.human_attribute_name(:preco) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= link_to produto.id, produto_path(produto) %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.preco %></td>
        <td><%=l produto.created_at %></td>
        <td>
          <%= link_to t('views.actions.show', :default => t("helpers.links.show")),produto_path(produto), :class => 'btn btn-default btn-xs' %>
          <%= link_icon_to_edit(edit_produto_path(produto)) %>
          <%= link_to t('views.actions.destroy', :default => t("helpers.links.destroy")),
                      produto_path(produto),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
