<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @produto.imagem.url(:original) %>
    </div>
  </div>
  <div class="col-md-6">
    <h1 align='center'  style="color: cadetblue;"><%= "#{@produto.descricao} #{@produto.marca}" %></h1><hr>
     <h3>Valor: <strong> <%= number_to_currency @produto.preco %> </strong></h3>
     <h3 >Condição:
       <% if @produto.quantidade > 0 %>
       <span class="label label-success">Disponível</span>
       <% end %></br>
    </h3><br><br>
    <div class="row">
        <%= link_to 'Voltar à loja', galeria_index_path, class: 'btn btn-default glyphicon glyphicon-arrow-left' %>
        <%= link_to 'Adicionar ao Carrinho', adiciona_produto_carrinho_carrinhos_path(produto_id: @produto.id), method: :post, style: 'background-color: antiquewhite;', class:'btn btn-default  glyphicon glyphicon-shopping-cart' %>
    </div>
  </div>
</div>

<span id="comentarios">
  <%= render 'comentarios' %>
</span>

<%= render 'comentarios/form' %>
