<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <br><%= image_tag @produto.imagens.last.imagem.url(:medium), id: "imagem_principal", class: 'zoom', style: 'height: 270px' %><br><br>
    </div>
  </div>

  <div class="col-md-6">
    <h1 align='center'  style="color: cadetblue;"><%= "#{@produto.descricao} #{@produto.marca}" %></h1><hr>
     <h3>Valor: <strong> <%= number_to_currency @produto.preco %> </strong></h3>
     <h3 >Condição:
       <% if @produto.quantidade > 0 %>
       <span class="label label-success">Disponível</span>
       <% end %></br>
    </h3><br><br>
    <div class="row">
        <%= link_to 'Voltar à loja', galeria_index_path, style: "color: black;", class: 'btn btn-default glyphicon glyphicon-arrow-left' %>
        <%= link_to 'Adicionar ao Carrinho', adiciona_produto_carrinho_carrinhos_path(produto_id: @produto.id), method: :post, style: "color: black;", class:'btn btn-success  glyphicon glyphicon-shopping-cart' %>
    </div>
  </div>
</div>

<div class="row">
  <% @produto.imagens.each do |imagem| %>
      <div class="img-thumbnail ">
        <a><img class="imagem_miniatura" style="height: 50px; width: 70px"  src="<%= imagem.imagem.url(:thumb) %>" alt="Mz"></a>
      </div>
  <% end %>
</div><br><br>

<span id="comentarios">

  <div align="center">
    <% if !current_user.comentarios.exists?(produto: @produto) %>
      <%= link_to 'Avaliar Produto', new_produto_comentario_path(produto_id: @produto.id), remote: true, class: 'btn btn-success', style:'width: 300px; background-color: cornflowerblue' %> <br><br><br>
    <% end %>
  </div>

  <%= render 'comentarios' %>
</span>
