<%@produtos.each do |produto|%>
    <div class="col-sm-6 col-md-4 thumbnail">
      <br><%= link_to image_tag produto.imagem.url(:thumb), class: "img-thumbnail", style: 'height: 90px' %><br>
      <%= produto.descricao %></br>
      <strong><%= number_to_currency(produto.preco) %></strong><br  >
      <%if produto.quantidade.to_i > 0%>
        <span class="label label-success"><%= "#{produto.quantidade} disponíveis"%></span></br>
      <%else%>
        <span class="label label-danger"><%= "indisponível"%></span></br>
      <%end%>
      <%= link_to 'Adicionar ao Carrinho', adiciona_produto_carrinho_carrinhos_path(produto_id: produto.id),
          method: :post, class: "btn btn-default btn-xs  glyphicon glyphicon-shopping-cart add_carrinho",
          id: 'add_carrinho'%><br><br><br><br>
    </div>
<%end%>
