<div class="row panel panel-info">
  <div class="panel-heading">
    <div class="navbar-form navbar-left">
      <%= search_form_for @q, remote: true, url: galeria_index_path do |f| %>
        <%= f.search_field :descricao_cont, placeholder: 'Pesquisar Produto', class: 'form-control', style: 'width: 400px' %>
        <button type="submit" class="btn btn-info">Pesquisar</button>
      <% end %>
    </div><br>
    <div align='right' >
      <%= select_tag "ordenacao",
        raw("<option value='crescente'>Menor Preço</option><option value='decrescente'>Maior Preço</option>"), include_blank: "Todos", class: 'btn btn-info'%>
    </div>
    <% todas_categorias.each do |categoria| %>
        <a class="label label-danger categorias" value="<%= categoria.id %>" ><%= categoria.descricao %></a>
    <% end %>
  </div>

  <div class="panel-body" align='center' id='produtos'>
    <%= render partial:'produtos'%>
  </div>
  <%= will_paginate @produtos, renderer: BootstrapPagination::Rails %>
</div>
