<!DOCTYPE html>
<html>
  <head>
    <title>Compras</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container">
    <% if current_user && current_user.admin? %>
      <%= render partial:'layouts/admin' %>
    <%elsif current_user && current_user.normal_user?%>
      <%= render partial:'layouts/normal_user' %>
    <%else%>
      <%= render partial:'layouts/nao_cliente' %>
    <%end%>
    <% if notice.present? %>
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><%= notice %></strong>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><%= alert %></strong>
      </div>
    <% end %>
    <%=yield%>
  </body>

</html>
