<!DOCTYPE html>
<html>
  <head>
    <title>Compras</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <% if current_user && current_user.admin? %>
      <%= render partial:'layouts/admin' %>
    <%elsif current_user && current_user.normal_user?%>
      <%= render partial:'layouts/normal_user' %>
    <%else%>
      <%= render partial:'layouts/nao_cliente' %>
    <%end%>
    <% if alert.present? %>
      <div class="panel panel-danger" style="border-color: #ED5565;">
        <div class="panel-heading"  style="background: #ED5565; color: white;">Atenção</div>
        <div class="panel-body"><%= alert %></div>
      </div>
    <% end %>
    <%=yield%>
  </body>

</html>
