<!DOCTYPE html>
<html>
  <head>
    <title>Compras</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <% if current_user && current_user.admin? %>
      <%= render partial:'layouts/admin' %>
    <%elsif current_user && current_user.normal_user?%>
      <%= render partial:'layouts/normal_user' %>
    <%else%>
      <%= render partial:'layouts/nao_cliente' %>
    <%end%>
    <%=yield%>
  </body>

</html>
