<!DOCTYPE html>
<html>
  <head>
    <title>Compras</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = 'container'>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
              <li> <%= link_to "Home", galeria_index_path %></li>
              <%if current_user && current_user.admin?%>
                <li><%= link_to "Produtos", produtos_path%></li>
                <li><%= link_to "Categorias", categorias_path	%></li>
                <li><%= link_to "Marcas", marcas_path	%></li>
              <%end%>
              <%if user_signed_in?%>
                <li><%= link_to "Meus Pedidos", pedidos_path	%></li>
              <%end%>
              <%if !user_signed_in?%>
                <li><%= link_to "Log in", user_session_path%></li>
              <%else%>
                <li role="presentation"><a href="/carrinhos">Carrinho <span class="badge"><%= "(#{carrinho_atual.itens_carrinho.count})" %></span></a></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: 'delete' %></li>
              <%end%>
            </ul>
          </div>
      </div>
    </div></br></br></br>
    <%= yield%>
  </body>
</html>
